.header {
    max-width: calc(100% - 398px);
    height: 73px;
    padding: 0;
    margin: 45px auto 40px;
    border-bottom: 1px solid #545454;   
}

@media screen and (max-width: 445px) and (min-width: 320px) {
    .header {
      padding-top: 28px;
      height: 56px;
    }
  }