.photo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  padding: 0;
  max-width: calc(100% - 398px);
  margin: 50px auto 0;
  background-color: cadetblue;
}

.photo__grid {
  background-color: brown;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  column-gap: 18px;
  row-gap: 20px;
}

.photo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 282px;
  height: 361px;
  gap: 25px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-radius: 10px;
}

.photo__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 79px);
  border-radius: 10px 10px 0 0;
}

.photo__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 36px);
  padding: 0;
  background-color: aquamarine;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
 
}

.photo__name {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.photo__like {
  padding: 0;
  margin: 0;
  width: 21px;
  height: 19px;
  background-image: url(../images/corazon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}


.photo__like:hover {
  opacity: 0.5;
}

.photo__like_is-actived {
  background-image: url(../images/liked.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

